<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/profiles/show.css">
<%- include('../partials/nav') %>

<main>
  <div id="profile-header">
    <h1> Hey <%= isSelf ? "Skater" : profile.name %></h1>
    <div>
      <img
        class="profile-avatar"
        src="<%= profile.avatar %>" 
        alt="<%= profile.name %>'s avatar"
      >
    </div>
  </div>
  <div class ="add-skates">
  <% if (isSelf) { %>
    <h2>Add a Skate Setup</h2>
    <form action="/profiles/<%= profile._id %>/skates" method="POST">
        <label>
          Boots:
          <input type="text" name="boots" autocomplete="off">
        </label>
        <label>
          Wheels:
          <input type="text" name="wheels" autocomplete="off">
        </label>
      <label>
        Other Cool Info: <br>
        <textarea type="text" name="other" placeholder="ie: grind blocks, jam plugs, laces from a friend, etc" autocomplete="off"></textarea>
      </label>
      <button type="submit"> Share My Skates </button>
    </form>
  <% } %>
  </div>
  <section class="skate-container">
  <% if (profile.skates.length) { %>
    <h2>
      <%= isSelf ? "Your" : `${profile.name}'s` %> Skates: 
    </h2>
    <% profile.skates.forEach(skate => { %>
      <div class="show">
      <ul>
        <li> Boots: <%= skate.boots %> </li>
        <li> Wheels: <%= skate.wheels %> </li>
        <li> Other Cool Stuff: <%= skate.other %> </li>
      </ul>  
        <% if (isSelf) { %>
          <form 
            action="/profiles/skates/<%= skate._id %>?_method=DELETE"
            method="POST"
            style="display: inline-block;"
          >
            <button type="submit">Remove</button>
          </form>
        <% } %>
      </div>
    <% }) %>
  <% } %>
</section>
<section class="unlocked-container">
  <% if (profile.unlocked.length) { %>
    <h2>
      Tricks Unlocked
    </h2>
    <div class="show">
    <% profile.unlocked.forEach(item => { %>
      <ul>
        <li> <%= item.name %> </li>
      </ul>
    <% }) %>
  </div>
  <% } %>
</section>
</main>
  <%- include('../partials/footer') %>