<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>
<link rel="stylesheet" href="/stylesheets/signin.css">

<main>
  <section>
  <h1>Roller Skate <br> Trick Library</h1>
  <% if (user?.profile.avatar) { %>
    <div>
      <img
        src="<%= user.profile.avatar %>"
        alt="<%= user.profile.name %> avatar"
 
      />
    </div>
  </section>
  <% } %>
 
</main>

<%- include('./partials/footer') %>

