<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h1>Roller Skate Trick Library</h1>
  <h2>Get it!</h2>
	<ul>
  <% tricks.forEach(trick => { %>
    <li>
      <a href="/tricks/<%= trick._id %>"> <%= trick.name %> 
    </a> 
  </li>
  <% }) %>
  </ul>
  
</section>

<section>
  <% if (user) { %>
  <a href="tricks/new">
    <button class="btn">Add a New Trick</button>
  </a>
  <% } %> 
</section>

<%- include('../partials/footer') %>