<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section id="details">
  
  <h1><%= trick.name %></h1>
  <h3><%= trick.description %> </h3>
  
</section>

<p>Trick submitted by: <%= trick.owner ? trick.owner.name : "Unknown" %></p>


  <a href="/tricks/<%= trick._id %>/edit">
    <button class="btn">Edit this Trick!</button>
  </a>
  <form action="/tricks/<%= trick._id %>?_method=DELETE" method="POST">
    <button class="btn">Delete my trick from the Library</button>
  </form>


<%- include('../partials/footer') %>